*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    /* background-color: rgba(17, 45, 121, 0.881); */
}
.nav{
    height: 4rem;
    width: 100%;
    background-color: rgba(254, 6, 6, 0.932);
}

.gcomp{
    height: 100%;
    width: 100%;
   
    align-items: center;
    justify-content: center;
    display: flex;

    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: rgba(17, 45, 121, 0.881);
    gap: 20px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo>a>h1{
    color: khaki;
    font-size: 1.5rem;
}

.menu{
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.b{
    height: 100px;
    width: 150px;
    background-color: yellow;
    border-radius: 20px; 
}
.c{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 20px; 
    padding: 2rem;
}
.c>h1{
    font-size: clamp(1rem, 3vw, 1.3rem);
    text-align: center;
     margin-bottom: 1rem;
    /* margin-top: 5px; */

}
.c>h2{
    font-size: clamp(1rem, 3vw, 2rem);
    text-align: center;
    margin-top: 5px;
}
.b>h2{
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;

}
.red{
    color: red;

    font-size: 1.3rem;

}
.green{
    color: green;
    font-weight: bolder;
    font-size: 1.3rem;

}
.b>h1{
    text-align: center;
    padding-top: 1rem;
    font-size: 1rem;

}
form>input{
    width: 60%;
    /* padding: 5px; */
    border-radius: 5px;

    /* border: none; */
}
form{
    align-items: center;
    justify-content: center;
}
.ad{
    color: crimson;
    font-weight: bolder;
    /* font-size: 3rem; */
    font-size: clamp(1.5rem, 5vw, 3rem);
    display: flex;
    background-color: rgba(17, 45, 121, 0.881);
    /* margin-top: 1rem;
     */
     padding-top: 1rem;
    align-items: center;
    justify-content: center;
}
.edt-btn{
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: rgb(170, 244, 170);
    color: black;
    margin-top: 1rem;
}
label{
    font-size: 20px;
    font-weight: bold;

}
input{
    padding: 5px;

}